* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 786px) {
    html, body {
        font-size: 12px;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
}

input {
    padding: 1em;
    border: none;
    box-shadow: 0 0 1px #000;
    width: 100%;
}
input:focus {
    outline: none;
}
input[type='button'], input[type='submit'] {
    background: #ff9800;
    color: #fff;
}
input[type='button']:not(:disabled):hover,
input[type='submit']:not(:disabled):hover {
    background: #c66900;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}
@media only screen and (max-width: 786px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 350px 1fr;
    }
}

#create-bot {
    display: grid;
    grid-template-columns: 1fr auto;
}

#bot-init-container {
    width: 100%;
    height: 100%;
    padding: 4rem;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #424242, #212121);
    color: #fff;
    display: grid;
    grid-template-rows: 0.33fr 1fr;
}
#logs {
    max-height: 150px;
    overflow: auto;
    border: solid 1px #fff;
    border-radius: 0.25em;
    padding: 1em;
    box-sizing: border-box;
}
#bot-chat-container {
    width: 100%;
    height: 100%;
    min-height: 350px;
    display: grid;
    grid-template-rows: 1fr 3rem;
    padding: 4rem;
    box-sizing: border-box;
    background: #f8f8f8;
}
#chat-input {
    display: grid;
    grid-template-columns: 1fr 5rem;
    height: 3em;
    opacity: 0.54;
}
#message-input {
    padding: 1em;
    border-bottom-left-radius: 1rem;
}
#message-submit {
    border-bottom-right-radius: 1rem;
}
#chat-log {
    min-height: 250px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 4px #000;
}
#chat-log-list {
    margin: 0;
    padding: 1rem 2rem;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
}
#chat-log-list > li {
    list-style: none;
    padding: 0.5em 0;
    border-bottom: solid 1px #ddd;
}